.text{
    margin-top: 20px;
    margin-left: 120px;
}

.center-table{
 
    margin-left: auto;
    margin-right: auto;
      
}

.flexbuttons{
    display:flex;
    justify-content: space-between;
  }


